<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>http://openra.net/</id>
  <title>OpenRA - News Feed</title>
  <updated>2014-10-20T09:00:00Z</updated>
  <link rel="alternate" href="http://openra.net/"/>
  <link rel="self" href="http://openra.net/news/atom/"/>
  <author>
    <name>OpenRA developers</name>
    <uri>http://openra.net</uri>
  </author>
  <entry>
    <id>tag:openra.net,2014-10-20:/news/playtest-20141020/</id>
    <title type="html">Playtest 20141020</title>
    <published>2014-10-20T09:00:00Z</published>
    <updated>2014-10-20T09:00:00Z</updated>
    <link rel="alternate" href="http://openra.net/news/playtest-20141020/"/>
    <content type="html">&lt;p&gt;Hot on the heels of last week’s &lt;a href="/news/playtest-20141012"&gt;playtest-20141012&lt;/a&gt;, we have just released a &lt;a href="/download"&gt;third and (hopefully) final playtest&lt;/a&gt; in preparation for our stable Halloween release next weekend.&lt;/p&gt;

&lt;p&gt;Development over the last week has been focused on tidying up loose ends, and includes:&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;An overhauled observer/replay sidebar for the Red Alert mod.&lt;/li&gt;
  &lt;li&gt;An improved (and hopefully more robust) crash-detection mechanism.&lt;/li&gt;
  &lt;li&gt;Improved memory usage over the previous playtests.&lt;/li&gt;
  &lt;li&gt;Further improvements to our new Lua API, and the removal of the old API.&lt;/li&gt;
  &lt;li&gt;Further improvements to our packaged single-player missions.&lt;/li&gt;
  &lt;li&gt;Additional minor polish improvements and bug fixes.&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;Please take this playtest out for a spin and report any and all problems on &lt;a href="http://bugs.openra.net"&gt;our bug tracker&lt;/a&gt;!&lt;/p&gt;

&lt;div style="text-align:center"&gt;

  &lt;p&gt;&lt;img src="/images/news/20141020-replays.png" alt="Improved mission dialog" /&gt;&lt;/p&gt;

  &lt;p&gt;The observer/replay sidebar in the RA mod has been rebuilt to match the new player sidebars.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20141020-monstertanks.png" alt="Improved mission dialog" /&gt;&lt;/p&gt;

  &lt;p&gt;The RA mod now includes the “Monster Tank Madness” mission. Can you evacuate Dr Demitri in time?&lt;/p&gt;
&lt;/div&gt;
</content>
  </entry>
  <entry>
    <id>tag:openra.net,2014-10-12:/news/playtest-20141012/</id>
    <title type="html">Playtest 20141012</title>
    <published>2014-10-12T00:00:00Z</published>
    <updated>2014-10-12T00:00:00Z</updated>
    <link rel="alternate" href="http://openra.net/news/playtest-20141012/"/>
    <content type="html">&lt;p&gt;The second playtest build for our upcoming Halloween release is now available.&lt;/p&gt;

&lt;p&gt;&lt;a href="/download"&gt;Playtest-20141012&lt;/a&gt; rounds off the new singleplayer campaign backend that was introduced in &lt;a href="/news/playtest-20140927"&gt;playtest-20140927&lt;/a&gt;, and includes a few new features of its own.  Some key features selected from the &lt;a href="https://github.com/OpenRA/OpenRA/wiki/Changelog"&gt;full changelog&lt;/a&gt; include:&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;Fixes for bugs with weapons, crates, and mines that were introduced in the last playtest.&lt;/li&gt;
  &lt;li&gt;Further improvements to the &lt;a href="https://github.com/OpenRA/OpenRA/wiki/New-Lua-API"&gt;new Lua API&lt;/a&gt; for missions, and an overhauled singleplayer mission menu.&lt;/li&gt;
  &lt;li&gt;Servers will now drop players with unresponsive connections to allow frozen games to continue.&lt;/li&gt;
  &lt;li&gt;Our new &lt;a href="https://github.com/OpenRA/OpenRA/wiki/Actor-Upgrades"&gt;actor upgrade system&lt;/a&gt; adds support for EMP weapons and stealth generators.&lt;/li&gt;
  &lt;li&gt;Units will now properly move inside transports, instead of teleporting.&lt;/li&gt;
  &lt;li&gt;Tank turrets will now turn to face forward after the unit has finished attacking.&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;We encourage any map authors who are using the old Lua API to upgrade their maps during this playtest cycle.  We are planning to remove the old API before the final release, and so this will be your last chance to report any bugs or missing functionality in time for us to fix them!&lt;/p&gt;

&lt;div style="text-align:center"&gt;

  &lt;p&gt;&lt;img src="/images/news/20141012-missions.png" alt="Improved mission dialog" /&gt;&lt;/p&gt;

  &lt;p&gt;The improved mission selector includes support for player-created missions and the campaign briefing videos.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20141012-connection.png" alt="Connection notification" /&gt;&lt;/p&gt;

  &lt;p&gt;Game servers will detect when a player causes extended periods of lag, and disconnect them from the game.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20141012-tibsun.png" alt="Tiberian Sun progress" /&gt;&lt;/p&gt;

  &lt;p&gt;Work continues on our Tiberian Sun mod, but it is still several months away from release.&lt;/p&gt;

&lt;/div&gt;
</content>
  </entry>
  <entry>
    <id>tag:openra.net,2014-09-27:/news/playtest-20140927/</id>
    <title type="html">Playtest 20140927</title>
    <published>2014-09-27T12:00:00Z</published>
    <updated>2014-09-27T12:00:00Z</updated>
    <link rel="alternate" href="http://openra.net/news/playtest-20140927/"/>
    <content type="html">&lt;p&gt;The first playtest for our next big release is now available!&lt;/p&gt;

&lt;p&gt;The biggest change in this playtest compared to our &lt;a href="/news/release-20140722/"&gt;July release&lt;/a&gt; is the overhauled in-game interface:&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;The RA mod has received a brand new sidebar.&lt;/li&gt;
  &lt;li&gt;A new end-game score screen appears once a game is complete.&lt;/li&gt;
  &lt;li&gt;The in-game menu now shows an objectives panel in all mods (previously only available in the TD mod).&lt;/li&gt;
  &lt;li&gt;New &lt;a href="https://github.com/OpenRA/OpenRA/wiki/Hotkeys"&gt;keyboard shortcuts&lt;/a&gt; have been added, and the default keys have changed to match Tiberium Wars and Red Alert 3.&lt;/li&gt;
&lt;/ul&gt;

&lt;div style="text-align:center"&gt;

  &lt;p&gt;&lt;img src="/images/news/20140927-sidebars.png" alt="RA sidebar overhaul" /&gt;&lt;/p&gt;

  &lt;p&gt;The Red Alert sidebar interface has been given a much-needed facelift and a more compact design.&lt;/p&gt;

&lt;/div&gt;

&lt;p&gt;These UI changes are still a work in progress, and further refinements will be made before the final release.  If you have feedback on the new design then please let us know during this playtest period!&lt;/p&gt;

&lt;p&gt;The full &lt;a href="http://wiki.openra.net/Changelog"&gt;Changelog&lt;/a&gt; lists many of the other improvements, bug fixes, and balance changes that are included in this playtest.  A few notable improvements include:&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;The lobby now prevents players from choosing colors that are too similar to each other or the terrain.&lt;/li&gt;
  &lt;li&gt;Veteran units gain improved reload time and accuracy, and elite units will now heal over time.&lt;/li&gt;
  &lt;li&gt;Planes will maintain their distance from each other in a similar fashion to helicopters.&lt;/li&gt;
  &lt;li&gt;Several of the Tiberian Dawn campaign missions have been updated with mission objectives.&lt;/li&gt;
  &lt;li&gt;A number of small balance changes to the Red Alert and Tiberian Dawn mods.&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;A lot of work has gone into our &lt;a href="https://github.com/OpenRA/OpenRA/wiki/New-Lua-API"&gt;new Lua API&lt;/a&gt; for scripted maps that was introduced with our &lt;a href="/news/release-20140608/"&gt;June release&lt;/a&gt;.  This new API offers improved performance, stability, and integrates with the new mission objectives system.  If you have written any scripted maps then please use this playtest as an opportunity to port your maps to the new API, and please &lt;a href="http://bugs.openra.net/"&gt;file a bug&lt;/a&gt; if there are any missing features.  The old API will be removed in the near future.&lt;/p&gt;

&lt;div style="text-align:center"&gt;

  &lt;p&gt;&lt;img src="/images/news/20140927-objectives.png" alt="Mission objectives" /&gt;&lt;/p&gt;

  &lt;p&gt;Several Tiberian Dawn campaign missions have been overhauled with objectives and other improvements.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20140927-aircraft.png" alt="RA aircraft" /&gt;&lt;/p&gt;

  &lt;p&gt;Planes no longer bunch together, which makes them much less vulnerable to enemy AA.&lt;/p&gt;

&lt;/div&gt;
</content>
  </entry>
  <entry>
    <id>tag:openra.net,2014-07-22:/news/release-20140722/</id>
    <title type="html">Release 20140722</title>
    <published>2014-07-22T10:00:00Z</published>
    <updated>2014-07-22T10:00:00Z</updated>
    <link rel="alternate" href="http://openra.net/news/release-20140722/"/>
    <content type="html">&lt;p&gt;We are pleased to announce the availability of our July release, which includes 619 commits by 27 contributors.&lt;/p&gt;

&lt;p&gt;The feature list remains the same as for our &lt;a href="/news/playtest-20140709/"&gt;July playtests&lt;/a&gt;, but this release benefits from additional testing and bugfixes.  The main new features are:&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;The RA and TD game music can now be downloaded and installed from the in-game music player.&lt;/li&gt;
  &lt;li&gt;Capturing enemy structures in RA and TD will now let you build units from their faction.&lt;/li&gt;
  &lt;li&gt;The maximum tech level can be configured in the lobby options.&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;Other notable improvements include:&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;Fixed a number of crashes that were introduced in the last release.&lt;/li&gt;
  &lt;li&gt;Fixed issues that occurred when installing from CD.&lt;/li&gt;
  &lt;li&gt;Improved performance and memory usage.&lt;/li&gt;
  &lt;li&gt;Improved scroll-panel behaviour.&lt;/li&gt;
  &lt;li&gt;Added an option to lock the mouse cursor inside the game window.&lt;/li&gt;
  &lt;li&gt;Multiple players can now repair a building at an accelerated rate.&lt;/li&gt;
  &lt;li&gt;Added engine support for diamond-shaped (“isometric”) terrain (an important milestone for our TS mod).&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;As usual, the full list of changes compared with the &lt;a href="/news/release-20140608/"&gt;June release&lt;/a&gt; is available &lt;a href="http://wiki.openra.net/Changelog"&gt;on our wiki&lt;/a&gt;.&lt;/p&gt;

&lt;div style="text-align:center"&gt;

  &lt;p&gt;&lt;img src="/images/news/20140722-capturetech.png" alt="Capturable Technology" /&gt;&lt;/p&gt;

  &lt;p&gt;Capturing enemy structures in TD and RA will now allow you to produce their units.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20140722-musicdownload.png" alt="Music Downloading" /&gt;&lt;/p&gt;

  &lt;p&gt;OpenRA can now download the game music for RA and TD.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20140722-techlevels.png" alt="Tech Levels" /&gt;&lt;/p&gt;

  &lt;p&gt;Tech levels can be configured in the lobby options for all mods.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20140709-tibsun.png" alt="Tiberian Sun" /&gt;&lt;/p&gt;

  &lt;p&gt;Development is progressing well on our Tiberian Sun mod, but it is still several months away from a release.&lt;/p&gt;

&lt;/div&gt;
</content>
  </entry>
  <entry>
    <id>tag:openra.net,2014-07-09:/news/playtest-20140709/</id>
    <title type="html">Playtest 20140709</title>
    <published>2014-07-09T10:00:00Z</published>
    <updated>2014-07-09T10:00:00Z</updated>
    <link rel="alternate" href="http://openra.net/news/playtest-20140709/"/>
    <content type="html">&lt;p&gt;&lt;strong&gt;Update: We have released a fourth and final release candidate (20140719) which fixes a few remaining issues. Thanks to everyone who reported problems and submitted fixes!&lt;/strong&gt;&lt;/p&gt;

&lt;p&gt;We have just released our &lt;del&gt;first&lt;/del&gt; fourth July release candidate, &lt;del&gt;playtest-20140709&lt;/del&gt; &lt;a href="/download/"&gt;playtest-20140719&lt;/a&gt;.&lt;/p&gt;

&lt;p&gt;This short development cycle has been extremely productive, and includes some long-awaited features:&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;The RA and TD game music can now be downloaded and installed from the in-game music player.&lt;/li&gt;
  &lt;li&gt;Capturing enemy structures in RA and TD will now let you build units from their faction.&lt;/li&gt;
  &lt;li&gt;The maximum tech level can be configured in the lobby options.&lt;/li&gt;
  &lt;li&gt;Added an option to lock the mouse cursor inside the game window.&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;Other big changes include:&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;Fixed a number of crashes that were introduced in the last release.&lt;/li&gt;
  &lt;li&gt;Improved performance and memory usage.&lt;/li&gt;
  &lt;li&gt;Added beacon images for the RA spy plane, paratroopers, and parabombs.&lt;/li&gt;
  &lt;li&gt;Multiple players can now repair a building at an accelerated rate.&lt;/li&gt;
  &lt;li&gt;Added engine support for diamond-shaped (“isometric”) terrain (an important milestone for our TS mod).&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;As usual, the full list of changes compared with the &lt;a href="/news/release-20140608/"&gt;June release&lt;/a&gt; is available &lt;a href="http://wiki.openra.net/Changelog"&gt;on our wiki&lt;/a&gt;.&lt;/p&gt;

&lt;div style="text-align:center"&gt;

  &lt;p&gt;&lt;img src="/images/news/20140709-beacons.png" alt="Beacons" /&gt;&lt;/p&gt;

  &lt;p&gt;Beacons have been added for the air-support powers in RA.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20140709-techlevels.png" alt="OpenRA Resources" /&gt;&lt;/p&gt;

  &lt;p&gt;Tech levels can be configured in the TD lobby options.&lt;/p&gt;

  &lt;p&gt;&lt;img src="/images/news/20140709-tibsun.png" alt="Tiberian Sun" /&gt;&lt;/p&gt;

  &lt;p&gt;The OpenRA engine now supports isometric perspectives.  Development is progressing well on our Tiberian Sun mod, but it will not be ready for several more months.&lt;/p&gt;

&lt;/div&gt;
</content>
  </entry>
</feed>
